{% extends 'chat/base.html' %}
{% block head %}
<style>
  #chatContainer {
    height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
</style>
{% endblock %}
{% block chats %}
{% for profile in profiles %}
<div class="card p-4 pl-5" >
  <!-- <button id="{{profile.pk}}" class="card-link"href="/chat/{{profile.user.pk}}" onclick='goToProfile("{{profile.pk}}")'>{{profile.name|default:"NOne"}}</button> -->
  <a  class="card-link" id="profile_{{profile.pk}}" href="{% url 'chat' profile.user.pk %}" >{{profile.name|default:"NOne"}}{% if profile.status %}<span id="{{profile.pk}}" >🟢</span>{% else %}
  <span id="{{profile.pk}}" ></span>{% endif %}</a>
</div>
{% endfor %}
{% endblock %}


{% block content %}

<div id="chatContainer" class="container">
  {% for message in messagess %}
  {% if message.sender == user.profile %}
  <div class="card-text  m-3 text-right">
    <span class = "bg-success text-light pt-2 pb-2 pl-3 pr-3 rounded-pill">{{message.message}}</span>
  </div>
  {% else %} 
  
  <div class="card-text  m-3 text-left">

    <span class = "bg-primary text-light  pt-2 pb-2 pl-3 pr-3 rounded-pill ">{{message.message}}</span>
  </div>
  {% endif %}
  {% endfor %}
</div>

<!-- <div class="container text-center p-3 col-md-4"> -->
  <div class="d-flex">
    <input type="text" class="form-control"  name="message" id="message">
    <input type="button"value="send" onclick="sendMessage()" class="btn btn-success ">
  </div>
  
  <script>
    var url = `${location.host}/chats/online`;
            if (location.protocol==="https:") 
                url = "wss://"+url;
            else
                url = 'ws://'+url;
            var websocket = new WebSocket(url)
            websocket.onopen = function(e){
                console.log("connected to")
            }
            websocket.onmessage = function(e){
                data = JSON.parse(e.data)
                console.log(data,data.status,)
                element = document.getElementById(data.id)
                if(data.status){
                  //element.innerHTML=element.innerHTML.substring(0,element.innerHTML.length)+"🟢"
                  element.innerHTML="🟢"
                }
                
            }
            websocket.onclose = function(e){
              
              console.log("DISCONNECTED")
            }
          
/*    document.getElementById('{{profile.name}}').style='background:green;'
    document.getElementById('{{profile.pk}}').style = 'color:white'
    document.getElementById('{{profile.pk}}').classList.replace('text-success','text-white')*/
    /*var messages = JSON.parse(document.getElementById('json-messages').textContent)
    messages.forEach((m) =>{
      updatemsg(m.message,m.sender)
      console.log(m,m.sender)
    })*/
      var  url = `${location.host}/chat/{{profile.user.id}}`
      console.log(location.hostname,location.protocol)
      if (location.protocol==="https:") 
        url = "wss://"+url;
      else
        url = 'ws://'+url;
        var websocket = new WebSocket(url)
        console.log(websocket)
        websocket.onopen = function(e){
            console.log("connected",websocket)
        }
        websocket.onmessage = function(e){
            console.log(e.data)
            data = JSON.parse(e.data)
            if(data?.message){
              updatemsg(data.message,data.sender)
            }
        }
        websocket.onclose = function(e){
            console.log(e)
        }
        function sendMessage(){
          var message = document.getElementById('message').value;
          message = message.trim()  
          if(message)
            websocket.send(JSON.stringify({'message':message,'sender':'{{user}}','recepient':'{{profile.pk}}'}));
          
        }
        function updatemsg(message,sender)
        {
            var lhtml = `
              <div class="card-text  m-3 text-left"><span class = "bg-primary text-light  pt-2 pb-2 pl-3 pr-3 rounded-pill ">${message}</span></div>`;
            var rhtml = ` 
              <div class="card-text  m-3 text-right"><span class = "bg-success text-light pt-2 pb-2 pl-3 pr-3 rounded-pill">${message}</span></div>`; 
            if(sender==='{{user.profile}}')
              document.querySelector('#chatContainer').innerHTML+=rhtml;
            else
              document.body.querySelector('#chatContainer').innerHTML+=lhtml;
            document.getElementById('message').value=""
        }
        document.getElementById('message').addEventListener('keydown',function(e){
           if(e.key=="Enter")
            sendMessage();
        })
  </script>
{% endblock %}