{% extends 'chat/base.html' %}
{% block head %}
<title>Document</title>
    
{% endblock %}
{% block body %}
<div class="text-center">
    {% if not user.is_authenticated %}
    <form method="post" class="container p-4">
        {% csrf_token %}
        <div class="container card">
            <div class="card-body"> 
                Enter your User name :<br>
                <input  class="form form-control" type= "text"name = "user_name">
                <input type="submit" value="Login" class="submit btn btn-primary" style = "padding:10px 15px;margin:10px 0px;">    
            </div>
        </div>
        
    </form>
    {% else %}
    <form class="d-inline-flex align-items-center m-auto">
        
        <div class="card p-4">You are Already Logged In.
        <a class="nav-link" href="/chats">clickhere</a> to go to chats Section
        </div>
    </form>
    {% endif %}
{% endblock %}
</html>