{% extends 'chat/base.html' %}

{% block body %}
    <form class="form" method="post">
        {% csrf_token %}
        <div class="card col-md-6 text-center m-5">
            <div class="form-group">
                <label class="form-label" for="username">UserName</label>
                <input name="username" id="username" type="text" class="form-control">
            </div>
            <div class="form-group">    
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
                <input type="submit" class="btn btn-success" value="Register">
        </div>
    </form>
{% endblock %}